
<div class="container">
<div class="image-container">
        <!-- <img src="assets/bg.png" alt="bg.png" class="d-block w-100"> -->
    <div class="image-text">
    <div>
            <h5 class="heading">Call us</h5>
            <h6>Tel: (+94) 712927258</h6><br>
            <h5 class="heading">Email us</h5>
            <h6 [innerHTML]="'Customer Service: customerservices@movietracker.com'"></h6>
            <h6 [innerHTML]="'General Information: info@movietracker.com'"></h6><br>
    </div>
</div>
       

        <div class="form-container">
            <form class="row g-3">
                <div class="col-md-6">
                    <label for="input" class="form-label">Name</label>
                    <input type="text" class="form-control" id="input">
                  </div>
                  <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Password</label>
                    <input type="email" class="form-control" id="inputEmail4">
                  </div>
                  <div class="col-md-6">
                    <label for="input" class="form-label">Mobile</label>
                    <input type="text" class="form-control" id="input">
                  </div>
                  <div class="col-md-6">
                    <label for="input" class="form-label">Subject</label>
                    <input type="text" class="form-control" id="input">
                  </div>
                  <div class="col-12">
                    <label for="inputMessage" class="form-label">Message</label>
                    <input type="text" class="form-control" id="inputMessage">
                  </div>
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary">Send Email</button>
                  </div>
            </form>
          </div>
      </div>

</div>
  