<div class="image-container">
  <div class="form-container">
    <form>
      <fieldset>
        <legend></legend>

        <div class="mb-3 text-center">
          <label for="exampleFormControlInput1" class="form-label2">Email address</label>
          <input type="email" class="form-control2" id="exampleFormControlInput1" >
        </div>
        <button type="button" class="btn btn-click" (click)="sendMail()" >Send Mail</button>

        <div class="mb-3 text-center" >
          <label for="exampleInputPassword1" class="form-label2">Enter Code</label>
          <input type="password" class="form-control2" id="exampleInputPassword1" >
        </div>

        <div class="mb-3 text-center" >
          <label for="exampleInputPassword2" class="form-label2">Enter New Password</label>
          <input type="password" class="form-control2" id="exampleInputPassword2" >
          <a href="login"  class="btn btn-clicks" (click)="verifyAndSetPassword()" >Reset Password</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>