
<div class="container">
    <div class="image-container">
            <!-- <img src="assets/bg.png" alt="bg.png" class="d-block w-100"> -->
            <h4 class="text-white">Account</h4>

        <div class="image-text">
        <div>
                
                
        </div>
    </div>
           
    
            <div class="form-container">
                <form class="row g-3">
                    <div class="image col-md-8">
                        <img src="assets/account.png">
                </div>
                <div class="col-md-8">
                    <label for="input" class="form-label">Fiest Name</label>
                    <input type="text" class="form-control" id="input">
                  </div>
                    <div class="col-md-8">
                        <label for="input" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="input">
                      </div>
                      <div class="col-md-8">
                        <label for="inputEmail4" class="form-label">E-mail Address</label>
                        <input type="email" class="form-control" id="inputEmail4">
                      </div>
                      <div class="col-md-8">
                        <label for="input" class="form-label">Mobile Number</label>
                        <input type="text" class="form-control" id="input">
                      </div>
                      <div class="col-8">
                        <button type="submit" class="btn btn-primary">Save</button>
                      </div>
                </form>
              </div>
          </div>
    
    </div>
      