<div class="image-container">
      <!-- <img src="assets/bg.png" alt="splash1.png" class="d-block w-100"> -->
      <div class="image-text">
          <h3 class="heading">About Movie Tracker</h3>
          <h6>At Movie Tracker we're passionate about bringing the world of cinema closer to you. Our journey started with a simple idea – to make the movie-watching experience effortless and enjoyable. We believe that everyone deserves convenient access to their favorite films, whether they're the latest blockbusters or timeless classics.</h6>
          <h6>Our dedicated team of movie enthusiasts and tech wizards works tirelessly to provide you with a seamless platform for discovering, booking, and experiencing movies in the most hassle-free way possible. We understand the value of your time and aim to save it by connecting you with the films you love, all in one place.</h6>
          <h6>Join us in redefining the way you interact with cinema. We're committed to enhancing your movie-going adventures, and we look forward to being your trusted companion in the world of entertainment.</h6>
          <h6>Welcome to Movie Tracker – where movies come to you."</h6><br>
          <h5>Our Goal</h5>
          <h6>
              "Our goal is to make movie-watching effortless and enjoyable. We're dedicated to saving you time and providing easy access to a world of cinema, so you can focus on the magic of the movies."</h6>
      </div>
</div>   