<div style="width: 100%; height: 100%; padding: 10px; background: linear-gradient(0deg, #0F277C 30%, #0F277C 100%), linear-gradient(180deg, #6A6A6A 0%, #101820 100%); flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
    <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
        <div style="align-self: stretch; justify-content: center; align-items: flex-start; gap: 45px; display: inline-flex">
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 700; line-height: 14px; word-wrap: break-word">Quick Links</div>
                <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 14px; word-wrap: break-word">Customer  Charter</div>
                <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 14px; word-wrap: break-word">Notice on FATCA</div>
                <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 14px; word-wrap: break-word">Right to Information Act</div>
                <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 14px; word-wrap: break-word">Correspondent Relationships</div>
                <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 14px; word-wrap: break-word">Credit Card Dispute Policy</div>
            </div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 700; line-height: 14px; word-wrap: break-word">Special Notices</div>
                <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 14px; word-wrap: break-word">News</div>
                <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 14px; word-wrap: break-word">Careers</div>
                <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 14px; word-wrap: break-word">Rates & Tariffs</div>
                <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 14px; word-wrap: break-word">Tender Notices</div>
                <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 14px; word-wrap: break-word">Properties for Sale</div>
                <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 14px; word-wrap: break-word">Vehicles for sale</div>
            </div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 700; line-height: 14px; word-wrap: break-word">Help & Guidance</div>
                <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 14px; word-wrap: break-word">Downloads</div>
                <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 14px; word-wrap: break-word">Contact Us</div>
                <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 14px; word-wrap: break-word">Find a Touch point</div>
                <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 14px; word-wrap: break-word">Weekend Banking</div>
                <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 14px; word-wrap: break-word">Complaints and Compliments</div>
                <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 14px; word-wrap: break-word">Protecting yourself from fraud</div>
            </div>
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 700; line-height: 14px; word-wrap: break-word">About Us</div>
                <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 14px; word-wrap: break-word">Who we are</div>
                <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 14px; word-wrap: break-word">Corporate Values</div>
                <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 14px; word-wrap: break-word">Financial Highlights</div>
                <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 14px; word-wrap: break-word">Sustainability</div>
                <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 14px; word-wrap: break-word">Awards & Recognitions</div>
                <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 14px; word-wrap: break-word">Money and Banking Museum</div>
            </div>
            <div style="height: 206px; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
                <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 700; line-height: 14px; word-wrap: break-word">Get in Touch</div>
                <div style="width: 170px; height: 24px; background: rgba(16, 24, 32, 0.93); border-radius: 10px; justify-content: center; align-items: center; gap: 10px; display: flex">
                    <div style="width: 20px; height: 20px; padding: 2.52px; justify-content: center; align-items: center; display: flex">
                        <div style="width: 14.97px; height: 14.97px; background: #2D9CDB"></div>
                    </div>
                    <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 14px; word-wrap: break-word">(Call Centre) 1975</div>
                </div>
                <div style="color: #AFAFAF; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 14px; word-wrap: break-word">                   or</div>
                <div style="justify-content: flex-start; align-items: center; gap: 12px; display: flex">
                    <div style="width: 20px; height: 20px; padding-left: 1.67px; padding-right: 1.67px; padding-top: 3.33px; padding-bottom: 3.33px; justify-content: center; align-items: center; display: flex">
                        <div style="width: 16.67px; height: 13.33px; background: #2D9CDB"></div>
                    </div>
                    <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 14px; word-wrap: break-word">admintmttmt.lk</div>
                </div>
                <div style="justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
                    <div style="width: 20px; height: 20px; padding-left: 3.33px; padding-right: 3.33px; padding-top: 1.80px; padding-bottom: 1.80px; justify-content: center; align-items: center; display: flex">
                        <div style="width: 13.33px; height: 16.40px; background: #2D9CDB"></div>
                    </div>
                    <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 14px; word-wrap: break-word">Soft-Global,<br/>No 20D,<br/>Wijerama Mawatha,<br/>Colombo 07,<br/>Sri Lanka</div>
                </div>
                <div style="color: white; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 14px; word-wrap: break-word">+94 11 220 4444</div>
            </div>
        </div>
        <div style="align-self: stretch; justify-content: center; align-items: center; gap: 785px; display: inline-flex">
            <div style="width: 68px; height: 39px; padding-top: 4.50px; padding-bottom: 4.50px; justify-content: center; align-items: center; display: flex">
                <img style="width: 93px; height: 30px" src="https://via.placeholder.com/93x30" />
            </div>
            <div style="justify-content: center; align-items: center; gap: 16px; display: flex">
                <div style="width: 32px; height: 32px; position: relative">
                    <div style="width: 32px; height: 32px; left: 0px; top: 0px; position: absolute; background: #1877F2; border-radius: 5px"></div>
                    <div style="width: 16px; height: 16px; left: 8px; top: 8px; position: absolute; background: white"></div>
                </div>
                <div style="width: 32px; height: 32px; position: relative">
                    <div style="width: 32px; height: 32px; left: 0px; top: 0px; position: absolute; background: #F00073; border-radius: 5px"></div>
                    <div style="width: 16.60px; height: 16.60px; left: 7.70px; top: 7.70px; position: absolute; background: white"></div>
                </div>
                <div style="width: 32px; height: 32px; position: relative">
                    <div style="width: 32px; height: 32px; left: 0px; top: 0px; position: absolute; background: #2867B2; border-radius: 5px"></div>
                    <div style="width: 16px; height: 16px; left: 8px; top: 8px; position: absolute; background: white"></div>
                </div>
                <div style="width: 32px; height: 32px; position: relative">
                    <div style="width: 32px; height: 32px; left: 0px; top: 0px; position: absolute; background: #1DA1F2; border-radius: 5px"></div>
                    <div style="width: 16px; height: 13px; left: 8px; top: 9.50px; position: absolute; background: white"></div>
                </div>
                <div style="width: 32px; height: 32px; position: relative">
                    <div style="width: 32px; height: 32px; left: 0px; top: 0px; position: absolute; background: #FF0000; border-radius: 5px"></div>
                    <div style="width: 16px; height: 11.20px; left: 8px; top: 10.40px; position: absolute; background: white"></div>
                </div>
            </div>
        </div>
        <div style="color: white; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">AAA Brand Finance | A(ika)/Stable outlook Fitch</div>
        <div style="align-self: stretch; justify-content: flex-start; align-items: flex-end; gap: 522px; display: inline-flex">
            <div style="justify-content: flex-start; align-items: flex-start; gap: 22px; display: flex">
                <div style="color: white; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">Terms of Use</div>
                <div style="color: white; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">Privacy Policy</div>
                <div style="color: white; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">© Soft-Global. All Rights Reserved</div>
            </div>
            <div style="color: white; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">Design & Develop by Soft-Global</div>
        </div>
    </div>
</div>