<div class="new-release-movies container mt-3 p-3">
    <div class="row align-items-center justify-content-center">
        <h4 class="text-white">Upcoming Movies</h4>
        <div class="poster d-flex flex-wrap justify-content-center">
            <ng-container *ngFor="let t of trendingMovieResult">
                <div class="card mb-5">
                    <img src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}" class="rowimg largeposter" alt="..." [routerLink]="['/movie',t.id]">
                    <div class="card-body">
                        <h6>{{t.original_title}}</h6>    
                    </div>
                  </div>
                <!-- <div class="card">
                    <img src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}" class="rowimg largeposter" alt="..." [routerLink]="['/movie',t.id]">
                <h6>{{t.original_title}}</h6>    
                </div> --> 
            </ng-container> 
        </div>
    </div>
</div>