<div class="navbar-1">
        <img class="image" src="assets/logo.png">
    <ul class="nav nav-pills">
     
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/movie">Movies</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="/booking-list">Bookings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/track-list">Track List</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="/aboutus">ABOUT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">CONTACTS</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="/account">Account</a>
            </li> -->
        </ul>
        <li class="btn-auth">
            <button class="btn-login" [routerLink]="['/login']">Login</button>
            <button class="btn-signup" [routerLink]="['/signup']">Sign Up</button>
        </li>
    </ul>
    
</div>