
<body>
    <div class="image-container">
      <!-- <img src="assets/bg.png" alt="bg.png" class="d-block w-100"> -->
  <div class="form-container">
      <fieldset>
        <legend>Login to Movie Tracker</legend>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
          <div id="emailHelp" class="form-text2 forget">
          <a href="#" class="link-underline-primary forget">Forgot your Password ?</a>
      </div>
        </div>
        <button type="submit" class="btn btn-click">LOGIN</button><hr>
        <div id="emailHelp" class="form-text">Didn’t have an account yet ?
          <a href="register" class="link-underline-primary"> Register Now</a>
        </div>
      </fieldset>
    </div>
    </div>
  </body>
