<div class="navbar-2">
  <div class="row mt-5 search-movie">
    <div class="col-lg-8" *ngFor="let s of searchResults">
      <div class="row">
        <div class="col-lg-3 mt-2 mb-2" *ngIf="s?.poster_path">
          <img
            class="img-search"
            src="https://image.tmdb.org/t/p/original/{{ s?.poster_path }}"
            *ngIf="s?.poster_path"
            alt="..."
            [routerLink]="['/movie', s?.id]"
          />
        </div>
        <div class="col-lg-8 title">
          <h5>{{ s?.original_title }}</h5>
          <h6>{{ s.release_date }}</h6>
        </div>
      </div>
    </div>
  </div>

  <div class="search-data" *ngIf="searchResults">
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  </div>
</div>
