    <body>
      <div class="image-container">
        <!-- <img src="assets/bg.png" alt="bg.png" class="d-block w-100"> -->
    <div class="form-container">
      <fieldset>
        <legend>Register to Movie Tracker</legend>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Full Name</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <label for="exampleInputEmail1" class="form-label">Phone</label>
        <div class="input-group flex-nowrap">
          <span class="input-group-text span" id="addon-wrapping">+94</span>
          <input type="text" class="form-control"  aria-label="Username" aria-describedby="addon-wrapping">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
          <div id="emailHelp" class="form-text2 forget">
      </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
          <div id="emailHelp" class="form-text2 forget">
      </div>
        </div>
        <button type="submit" class="btn btn-click">REGISTER</button><hr>
        <div id="emailHelp" class="form-text">Already have an account ? 
          <a href="login" class="link-underline-primary"> Login Now</a>
        </div>
      </fieldset>
      </div>
      </div>
    </body>