<!-- signup.component.html -->

<div class="image-container">
  <div class="form-container">
    <fieldset>
      <legend>
        <img src="assets/account.png" class="icon">
      </legend>        
      <div class="form">
        <div class="mb-3">
          <label for="firstname" class="form-label" >First Name</label>
          <input [(ngModel)]="userFirstName" type="text" class="form-control" required>
          <div class="form-text2 error" *ngIf="firstNameError">{{ firstNameError }}</div>
        </div>
        <div class="mb-3">
          <label for="lastname" class="form-label">Last Name</label>
          <input [(ngModel)]="userLastName" type="text" class="form-control" required>
          <div class="form-text2 error" *ngIf="lastNameError">{{ lastNameError }}</div>
        </div>
        <label for="phone" class="form-label">Phone</label>
        <div class="input-group flex-nowrap">
          <span class="input-group-text span" id="addon-wrapping">+94</span>
          <input [(ngModel)]="userPhone" type="text" class="form-control" aria-label="phone" aria-describedby="addon-wrapping" required>
          <div class="form-text2 error" *ngIf="phoneError">{{ phoneError }}</div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input [(ngModel)]="userEmail" type="email" class="form-control" id="email" required>
          <div class="form-text2 error" *ngIf="emailError">{{ emailError }}</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input [(ngModel)]="userPassword" type="password" class="form-control" id="password" required>
          <div class="form-text2 error" *ngIf="passwordError">{{ passwordError }}</div>
        </div>
        <div class="mb-3">
          <label for="confirmpassword" class="form-label">Confirm Password</label>
          <input [(ngModel)]="confirmPassword" type="password" class="form-control" id="confirmpassword" required>
          <div class="form-text2 error" *ngIf="confirmPasswordError">{{ confirmPasswordError }}</div>
        </div>
        <button type="submit" class="btn btn-click" (click)="onSubmitHandler()">REGISTER</button>
        <hr>

        <!-- Display error message if conditions are not met -->
        <div *ngIf="!isValidForm()" class="form-text error">
          Please fill in all the required fields and make sure passwords match.
        </div>

        <div class="form-text text-center">Already have an account ?
          <a href="login" class="link-underline-primary register">Login Now</a>
        </div>
      </div>
    </fieldset>
  </div>
</div>
