<body>
  <div class="image-container">
    <img src="assets/bg.png" alt="bg.png" class="d-block w-100">
    <div class="form-container">
      <fieldset>
        <legend>
          <img src="assets/iconlogin.png" class="icon">
        </legend>
        <div class="mb-3 text-center"> 
          <label for="exampleFormControlInput1" class="form-label2">Full Name</label>
          <input type="email" class="form-control2" id="exampleFormControlInput1">
        </div>
        <div class="mb-3 text-center"> 
          <label for="exampleFormControlInput1" class="form-label2">Phone</label>
          <div class="input-group flex-nowrap">
            <span class="input-group-text span" id="addon-wrapping">+94</span>
            <input type="text" class="form-control2"  aria-label="Username" aria-describedby="addon-wrapping">
          </div>
        </div>
        <div class="mb-3 text-center"> 
          <label for="exampleFormControlInput1" class="form-label2">Email</label>
          <input type="email" class="form-control2" id="exampleFormControlInput1">
        </div>
        <div class="mb-3 text-center"> 
          <label for="exampleInputPassword1" class="form-label2">Password</label>
          <input type="password" class="form-control2" id="exampleInputPassword1">
          <label for="exampleInputPassword1" class="form-label2">Confirm Password</label>
          <input type="password" class="form-control2" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-click">REGISTER</button>
        <hr>
        <div class="form-text text-center">
          Already have an account?
          <a href="login" class="link-underline-primary register"> Log In</a>
        </div>
      </fieldset>
    </div>
  </div>
</body>