<div
  class="container-fluide bg-light align-items-center justify-content-center d-flex"
  style="max-height: 1024px; height: 46vh"
>
  <div class="forms-wrapper bg-dark rounded shadow m-auto p-2">
    <div class="payment-buttons">
      <button
        class="payment-button"
        [ngClass]="{ selected: selectedPaymentOption === 'payNow' }"
        (click)="selectPaymentOption('payNow')"
      >
        Pay Now
      </button>
      <button
        class="payment-button"
        [ngClass]="{ selected: selectedPaymentOption === 'payLater' }"
        (click)="selectPaymentOption('payLater')"
      >
        Pay Later
      </button>
    </div>
    <!-- Form for Pay Now -->
    <div *ngIf="selectedPaymentOption === 'payNow'">
      <form
        [formGroup]="frmPayNow"
        (ngSubmit)="handleOnSubmitPayNow()"
        class="bg-dark"
        class="row g-3"
      >
        <div class="col-md-12">
          <input
            type="text"
            class="form-control"
            id="inpCard"
            placeholder="Enter Card Number"
          />
        </div>
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            id="inpDateExp"
            placeholder="MM/YY"
          />
        </div>
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            id="inpCvv"
            placeholder="CVV"
          />
        </div>
        <div class="col-md-12">
          <input
            type="text"
            class="form-control"
            id="inpHolderName"
            placeholder="Card Holder Name"
          />
        </div>
        <div class="col-12">
          <button
            id="btnPayNow"
            type="submit"
            (onsubmit)="handleOnSubmitPayNow()"
            class="btn btn-primary"
          >
            Pay
          </button>
        </div>
      </form>
    </div>

    <!-- Form for Pay Later -->
    <div *ngIf="selectedPaymentOption === 'payLater'">
      <form
        [formGroup]="frmPayLater"
        (ngSubmit)="handleOnSubmitPayLater()"
        class="bg-dark"
        class="row g-3"
      >
        <div class="col-md-12">
          <input
            type="text"
            class="form-control"
            id="inpCustomername"
            placeholder="Name"
          />
        </div>
        <div class="col-md-12">
          <input
            type="text"
            class="form-control"
            id="inpCusromerNic"
            placeholder="NIC"
          />
        </div>
        <div class="col-md-12">
          <input
            type="text"
            class="form-control"
            id="inpCustomerEmail"
            placeholder="E-mail"
          />
        </div>
        <div class="col-12">
          <button
            id="btnPayLater"
            type="submit"
            (onsubmit)="handleOnSubmitPayLater()"
            class="btn btn-primary"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
