<div class="navbar-1">
    <img class="image" src="assets/logo.png" [routerLink]="['/home']">
<ul class="nav nav-pills">
 
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/movie">Movies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/booking-list">Bookings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/track-list">Track List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/aboutus">ABOUT US</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact">CONTACTS</a>
        </li>
        
    </ul>
    <li class="btn-auth">
        <a class="btn-search" href="/search"><img class="icon" src="assets/search_icon.png"></a>

        <a class="btn-search" href="/account"><img class="icon" src="assets/account.png"></a>
        <!-- <button class="btn-login" [routerLink]="['/login']">Login</button>
        <button class="btn-signup" [routerLink]="['/signup']">Sign Up</button> -->
    </li>
</ul>

</div>